
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --bg-logo: rgb(244, 94, 98);
    --col_white:white;
    --col_999:#999;
    --col_blue_hover: rgb(64, 142, 253);
    --col_rgba_74:rgba(0, 0, 0, 0.074);
    --color_black:black;
    --bg_blue: #e3ecff;
    --color_green: #72d097;
    --color_orange:#fc7347;
}


* {
    font-style: initial;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.ctn_partner{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    display: flex;
}





.ctn_right_part{
    width:85% ;
    
}


.ctn_content{
    width:100% ;
    height: 85%;
    display: flex;
    margin-top:9%;
}
.ctn_col2{
    width: 60%;
    height: 100%;
    padding: 2%;
    
}

.ctn_col3{
    width: 40%;
    height: 100%;
  
}

.ctn_nav{
    width: 15%;
    height: 100%;
    border-right: 0.5px solid #e0dddd ;
  
  
}
.ctn_content_nav{
    width: 85%;
    height: 90%;
  

}

.flex{
    display: flex;
}

.border_avt{
    margin-right: 20px;
 
    width: 50px;
    height: 50px;
    border: 2px solid  rgb(244, 94, 98);
}


.centerX{
    display: flex;
    justify-content: center;
}
.centerY{
    display: flex;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.boder50{
    border-radius: 50%;
}

.bg_power{
    background-color: var(--bg-logo);
    border: none !important;
}

.upper{
    text-transform: uppercase;
}

.cap{
    text-transform: capitalize;
}

.text_B{
    font-weight: bold;
}


.col_white{
    color: var(--col_white);
}


.font_18{
    font-size: 18px;
}

.font_20{
    font-size: 20px;
}

.font_22{
    font-size: 22px;
}

.font_23{
    font-size: 23px;
}

.font_26{
    font-size: 26px;
}

.border_12{
    border-radius: 12px;
}
.border_8{
    border-radius: 8px;
}
.bg_999{
    background-color: var(--col_999);
}

.ctn_menu a{
    text-decoration: none;
    color: var(--color_black);
}
.ctn_help a{
    text-decoration: none;
    color: var(--color_black);
}
.ctn_menu, .ctn_help{
    width: 100%;
    height: 220px;
    /* background-color: #035b76; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.m_b15{
    margin-bottom: 15px;
}

.col_999{
    color: var(--col_999);
}


.mr_10{
    margin-right: 10px;
}

.row{
    display: flex;
    flex-direction: row;
}


.icon_menu i{
    /* font-size: 15px; */
    width: 5%;
 
}

.icon_menu span{
    width: 88%;
   
    float: right;
    text-transform: capitalize;
    font-weight: bold;
}

.icon_help span{
    width: 88%;
   
    float: right;
    text-transform: capitalize;
    font-weight: bold;
}

.box_log_out a{
    
color: var(--color_black);
text-decoration: none;
}


.ctn_content_nav{
    position: relative;
}
.box_log_out{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.box_log_out i{
    width: 5%;
}
.box_log_out span{
    width: 88%;
   
    float: right;
}

.wh_a_nav{
    display: block;
    width: 100%;
    height: 50%;
}

.icon_menu{
    
    padding-left: 15px;
}

.icon_help{
    padding-left: 15px;
}
.icon_menu:hover{


background-color: var(--col_blue_hover);
}


.icon_help:hover{


    background-color: var(--col_blue_hover);

    }
.icon_menu, .icon_help{
    height: 40px;
}
.box_log_out{
    height: 40px;
}
.box_log_out:hover{
    border-radius: 8px;
    background-color: var(--bg-logo);
}



.box_head_content{
    padding: 20px;
}

.inp_search{
    background-color: var(--col_rgba_74);
    border: 0.2px solid #99999994;
    width: 320px;
    height: 45px;
}

.fa-magnifying-glass{
    font-size: 23px;
}


.box_bell, .box_mail{
    /* margin-left: 30px; */
}

.box_cover{
    width: 45px;
    height: 45px;
    background-color: var(--col_rgba_74);
}


.ctn_perfomance{
    width: 100%;
    height: 50%;
 
}

.ctn_order{
    width: 100%;
    height: 50%;
   
}

.content_text{
    height: 10%;
}
.box_3_design{
    width: 100%;
    height: 90%;
 
}
.box_column_chart{
    width: 55%;
    height: 100%;
 
}

.box_right_chart{
    width: 45%;
    height: 100%;

}

.box_pie_chart{
    width: 100%;
    height: 50%;
}


.box_staticts{
    width: 100%;
    height: 50%;
}

.bg_column_chart, .bg_pie_chart{
    padding: 15px;
    width: 95%;
    height: 95%;
    background-color: var(--bg_blue);
    border-radius: 12px;
}




.bg_statits{
    padding: 30px;
    width: 95%;
    height: 95%;
    background-color: var(--bg_blue);
    border-radius: 12px;
}

.space_b{
    display: flex;
    justify-content: space-between;
}

.space_a{
    display: flex;
    justify-content: space-around;
}

.space_e{
    display: flex;
    justify-content: space-evenly;
}
.item_precent{
    width: 50px;
    height: 30px;
    background-color: var(--color_green);
    border-radius: 12px;
}

.text_sta{
    color: var(--color_green);
}

.column_chart{
    width: 10px;
    height: 130px;

    background-color: var(--col_white);
    border-radius: 5px;
    position: relative;
}

.col_chart{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50px;
  
    background-color: var(--col_blue_hover);
    border-radius: 5px;  

}


.bg_column_chart .r2{
    margin-bottom: 15px;
}

.col_blue{
    color: var(--col_blue_hover);
}

.fa-chart-pie{
    margin-right: 10px;
}

.r_pie_3{
    width: 100%;
    position: relative;
}


.box_eye{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: var(--col_white);
    border-radius: 5px;
}

.box_eye:hover{
    cursor: pointer;
}

.r2_sta{
    float: inline-end;
}

.nav_order{
    height: 35px;
    border-bottom: 1px solid var(--col_rgba_74);
}

body{
    overflow: hidden !important;
}


.box_scroll{
 overflow-y: auto;
 height: 85%;
}



.box_scroll .label{
    height: 50px;
    width: 100%;
    /* border: 0.02px solid var(--col_999); */
    border-collapse: collapse !important;
}



.box_avt img{
width: 100%;
height: 100%;
}

.creator{
    margin-left: 90px;
}

.contact{
    margin-left: 38px;
}





.box_detail a{
    text-decoration: none;
    color: black;
}

.box_detail a:hover{
    cursor: pointer;
}

.box_active{
    background-color: var(--color_green);
    height: 30px;
    width: 60px;
    border-radius: 5px;
}

.box_avt{
    width: 8%;
    height: 50px;
    /* background-color: #72d097; */
    border: 0.2px solid var(--col_rgba_74);

}

.box_creator{
    width: 15%;
}

.box_contact{
    width: 10%;
}

.col_or{
    background-color: var(--color_orange);
}

.bg_blue{
    background-color: var(--col_blue_hover);
}

.ctn_traffic{
    width: 100%;
    height: 50%;
    /* background-color: var(--col_rgba_74); */
  
}

.export_btn{
    width: 110px;
    height: 40px;
    background-color: var(--col_blue_hover);
    border-radius: 5px;
}

.r1_tra{
    justify-content: flex-end;
    margin-right: 30px;
    height: 10%;
}

.date{
    margin-right: 15px;
    height: 40px;
}


.bg_content{
    /* padding: 15px; */
    width: 100%;
    height: 90%;
    background-color:var(--bg_blue);
    border-radius: 15px;
    margin-top: 15px;
}

.title_content{
    width: 100%;
    padding: 20px;
}

.viewall{
    text-decoration: none;
    color: var(--col_blue_hover);
}

.fa-google, .fa-facebook, .fa-twitter, .fa-instagram{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
}

.box_view_item{
   position: absolute;
   right: 0;
   margin-right: 20px;
}

.item_tra{
    width: 100%;
    height:55px;
    padding: 15px;
    position: relative;
}

.ctn_map{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 46%;
}



.wh100{
    width: 100% !important;
    height: 100% !important;
}

/* map */
.map_container {
    width: 100%;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
  }

  .map_container #googleMap {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }

